.banner{
    background-color: #86b3d1;
    text-align: center;
    padding: 7px;
    height: 50px;
}
.btn{
    background-color:#86b3d1;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.btn:hover{
    background-color: #aaa0a0;
}