<button class="btn btn-primary" (click)='addProduct()'>
  <i class="fas fa-plus-circle"></i> Add New Product
</button>
<table class="table table-sm table-striped text-white">
  <thead>
    <tr>
      <th>Name</th>
      <th>ProductType</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let b of getProducts()'>
      <td>{{ b.name }}</td>
      <td>{{ b.ptype }}</td>
      <td>{{ b.description }}</td>
      <td>{{ b.price | currency: 'USD': 'symbol': '0.2-2'}}</td>
      <td>{{ b.quantity }}</td>
      <td>
        <button class="btn btn-sm btn-primary m-1" (click)='editProduct(b._id)'>
          <i class="fas fa-pencil-alt"></i> Edit
        </button>
      </td>
      <td>
        <button class="btn btn-sm btn-danger m-1" (click)='deleteProduct(b._id)'>
          <i class="fas fa-trash-alt"></i> Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
